button {
    margin-left: 50px;
    background-color: #f1f1f1;

    padding: 10px 20px;
    font-size: 18px;

    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #cccccc;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.button-row button {
    flex: 1;
    margin: 0 5px;
}