table {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
}

th, td {
    padding: 8px;
    border: 1px solid #ccc;
}

.link-cell:hover{
    background-color: rgba(242, 242, 242, 0.45);
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}
th td {
    width: 100%;
}

td {
    text-align: center;
}


